@font-face {
  font-family: 'GrifterBold';
  src: url('fonts/grifter-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hurin";
  src: url("/fonts/hurin-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'GrifterBold', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== HOME PAGE ===== */

.section-top {
  display: flex;
  align-items: flex-start;       
  justify-content: space-between; 
  min-height: 50vh;
  height: auto;               
  padding: 80px 80px;      
  gap: 2rem;
}

.section-left {
  flex: 40%;                   
  display: flex;
  flex-direction: column;    
  justify-content: flex-start;
}

.section-left h1 {
  font-size: 38px;
  color: #171717;
  margin-bottom: 25px;
}

.section-left p {
  font-size: 16px;
  color: #171717;
  line-height: 18px;
  margin: 0 0 12px;
}


.section-right {
  flex: 60%;
  display: flex;
  width: 100%;
  height: 350px;
  background-image: url(img/home-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-bottom {
  padding: 100px 0px 40px 80px;  
}

.section-bottom .main-nav {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  gap: 1rem;
}

.section-bottom .main-nav a {
  color: #171717;
  text-decoration: none;
  font-family: 'GrifterBold', sans-serif;
  font-size: 22px;
  transition: color 0.3s;
}

.section-bottom .main-nav a:hover {
  color: #909090;
}

#preview-box {
  position: fixed;
  pointer-events: none;
  display: none;
  z-index: 1000;
}

#preview-box img {
  max-width: 250px;
  max-height: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#preview-display {
  position: fixed;
  pointer-events: none;
  display: none;
  z-index: 1000;
}

#preview-display img {
  max-height: 30px;
  width: auto;
}

/* PAGE PROJETS */

.projects-page {
  padding: 60px 80px 20px 80px;
  text-align: center;
}

.projects-page h1 {
  font-family: 'Hurin', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 30px 0 20px 0;
  color: #171717;
}

.projects-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  justify-items: center;
}

.projects-gallery h2:hover{
    color: #909090;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centre tout */
  justify-content: flex-start;
  margin-top: 80px;
  width: 100%; 
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
  margin-bottom: 35px;
}

.project-item img {
  width: 300px;
  margin-bottom: 12px;
  object-fit: cover;
}

.project-item h2 {
  font-family: 'GrifterBold', sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  color: #171717;
  margin-top: 10px;
}

.project-item h2:hover {
  color: inherit!important;
}

.tab-container {
  background-color: #FFFFFF;
  border: solid 0.5px #FFFFFF;
  border-radius: 50px;
  display: flex;
  padding: 5px;
  gap: 5px;
  margin: 0 auto 0px auto;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #333;
  width: fit-content;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.08), -1px -1px 4px rgba(255, 255, 255, 0.8);
}

.tab {
  flex: 1;
  text-align: center;
  padding: 8px 16px;
  border-radius: 50px;
  cursor: pointer;
}

.tab.active {
  background-color: #FFFFFF;
  font-weight: 400;
  box-shadow: 0px 10px rgba(0,0,0,0.1), -1px -1px 3px rgba(255,255,255,0.2);
}

.tab:hover {
  background-color: #FFFFFF;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.15), -1px -1px 4px rgba(255,255,255,0.7);
}

.tab:active,
.tab.active {
  box-shadow: inset 2px 2px 6px rgba(0,0,0,0.08), inset -1px -1px 3px rgba(255,255,255,0.6);
  transform: translateY(0.2px);
}



/* ===== BOUTON RETOUR FLOTTANT BAS-DROIT ===== */
#back-btn {
    transition: background-color 0.3s ease;

  position: fixed;
  bottom: 40px;
  right: 75px;
  color: #171717;
  background: inherit;
  padding: 5px;
  border: none;
  border-radius: 8px;
  font-family: 'GrifterBold', sans-serif;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 1000;
}


/* ===== PAGE CONTACT ===== */

.contact-page {
  padding: 60px 80px 20px 80px;
  text-align: center;
}

.contact-page h1 {
  font-family: 'Hurin', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 30px 0 80px 0;
  color: #171717;
}

.contact-page p{
  color: #171717;
  text-decoration: none;
  font-family: 'GrifterBold', sans-serif;
  font-size: 22px;
  transition: color 0.3s;
}

.contact-img{
  height: 340px;
  width: 240px;
  margin: 0 auto 80px auto;
  background-image: url("./img/contact-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact-img:hover {
  transform: rotate(+2deg) scale(1.03);
}


/* --- CANVA INFINI --- */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'GrifterBold', sans-serif;
  scroll-behavior: smooth;
}

#viewport {
  width: 100%;
  height: 100%;
  background: #ffffff;
  cursor: grab;
  overflow: hidden;
  position: relative;
}

#content {
  position: absolute;
  transform-origin: 0 0;
}

.photo {
  position: absolute;
}


/* --- PAGE PROJET --- */
.project-title{           
  padding: 80px 80px 40px 80px;      
}

.project-content{
  display: flex;
  flex-direction: row;
  padding: 0px 80px;
  row-gap: 20px;
  height: 70vh;
  width: 100%;
  position: relative;
}

.project-left{
  display: flex;
  flex-direction: column;
  width: 30%;
  z-index: 1;
  margin-top: 20px;
  transition: width 0.6s ease, opacity 0.6s ease;
}

.project-right{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  z-index: 2;
  transition: width 0.6s ease;
}

.project-info h2 {
  font-family: 'Hurin', 'Grifterbold';
  font-size: 18px;
  font-weight: initial;
  text-transform: none;
  letter-spacing: 0;
  color: black;
  margin-bottom: 8px;
}

.project-info p {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0;
  color: #333;
  margin-bottom: 20px;
  margin-right: 30px;
}

.more {
  font-family: 'Manrope', sans-serif; 
  font-size: 16px;
  text-transform: none;
  color: #909090;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: inherit;
  background-color: inherit;
  padding-block: 10px;
  padding-inline: 20px;
  border: 1px solid #e0e0e0aa;
  border-radius: 12px;
  box-shadow: #909090;
  width: fit-content;
}

.more:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
  transition: 0.25s ease;
  cursor: pointer;
}

.more:active {
  box-shadow: inset 0 1px 6px rgba(0,0,0,0.20);
}

a {
  display: inline-block;
  width: fit-content;
  text-decoration: none;
  color: inherit;
}

.a button{
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

.canvas-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  background-color: #333;
}

.canvas-container {
  cursor: grab;
  transition: cursor 0.2s ease;
}

.canvas-container:active {
  cursor: grabbing;
}

.canvas-container img {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}

.photography-container{
  background-color: white;
}

#viewport {
  position: relative;
  width: 70%;
  height: 100%;
  overflow: hidden;
  transition: width 0.6s ease;
  cursor: grab;
}

#interactive-canvas {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
}

.photo {
  position: absolute;
  border-radius: 0px;
  transition: transform 0.2s ease;
}

/* --- Boutons du canvas --- */
.canvas-buttons {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 20;
}

.canvas-buttons button {
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border: 1px solid #aaa;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
}

.canvas-buttons button:hover {
  background: #fff;
  transform: scale(1.05);
}

.canvas-buttons button svg {
  width: 22px;
  height: 22px;
}

#hover-text-box {
  position: fixed;
  display: none;
  pointer-events: none;
  z-index: 9999;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  color: black;
  background: white;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


/* Bouton Agrandir/Réduire → haut droite */
#expand-btn {
  position: absolute;
  top: 18px;
  right: 16px;
  width: 30px;
  height: 25px;
  background: linear-gradient(145deg, rgba(255,255,255,0.35), rgba(255,255,255,0.15));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 0.5px solid rgba(229, 229, 229, 0.5);
  border-radius: 6px;
}

#expand-btn:hover {
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.638), rgba(255, 255, 255, 0.507));
  transform: scale(1.08);
  opacity: 1;
}

/* Bouton Reset → bas gauche */
#reset-btn {
  position: absolute;
  bottom: 18px;
  left: 20px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: linear-gradient(145deg, rgba(255,255,255,0.35), rgba(255,255,255,0.15));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 0.5px solid rgba(229, 229, 229, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 1000;
  transition: transform 0.2s, opacity 0.3s, background 0.3s;
}

#reset-btn:hover {
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.638), rgba(255, 255, 255, 0.507));
  transform: scale(1.08);
  opacity: 1;
}

#info-btn {
  position: absolute;
  bottom: 18px;
  left: 75px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: linear-gradient(145deg, rgba(255,255,255,0.35), rgba(255,255,255,0.15));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 0.5px solid rgba(229, 229, 229, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 1000;
  transition: transform 0.2s, opacity 0.3s, background 0.3s;
}

#info-btn:hover {
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.638), rgba(255, 255, 255, 0.507));
  transform: scale(1.08);
  opacity: 1;
}

.theproject {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
}

/* Deuxième écran caché */
.project-extended {
  height: auto;
  padding: 100px 80px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s ease;
}

.project-extended.visible {
  opacity: 1;
  pointer-events: all;
}

.extended-info h2{
  font-family: 'Hurin', 'GrifterBold';
  font-size: 18px;
  font-weight: initial;
  text-transform: none;
  letter-spacing: 0;
  color: black;
  margin-bottom: 20px;
}

.extended-info-hi{
  margin-top: 30px;
}

p {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  text-transform: none;
  letter-spacing: 0;
  color: #333;
  margin-bottom: 20px;
}

.physaliaa-bloc{
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.phyaliaa-details p{
  margin-bottom: 6px;
}


.canvas-container.blurred {
  filter: blur(8px) brightness(0.7);
  transition: filter 0.5s ease;
}

.canvas-container {
  position: relative;
}

.canvas-buttons {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}





/* MORE */

.tab-selector {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 50;
  font-family: 'Manrope', sans-serif;
}

/* Le bouton principal */
#tab-toggle {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  width: 120px;
  padding: 6px 6px;
  background: rgba(255,255,255,0.35);
  backdrop-filter: blur(10px);
  border: 0.5px solid rgba(229, 229, 229, 0.5);
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  min-width: max-content;
  transition: background 0.2s, transform 0.2s;
  text-align: center;
  color:#333;
}

#tab-toggle:hover {
  background: rgba(255,255,255,0.5);
  transform: scale(1.03);
}

/* Le menu déroulant */
#tab-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  background: rgba(255,255,255,0.35);
  backdrop-filter: blur(10px);
  border: 0.5px solid rgba(229, 229, 229, 0.5);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 100%;
}

#tab-menu.hidden {
  display: none;
}

/* Les options */
.tab-option {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  padding: 6px 6px;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
}

.tab-option:hover {
  background: rgba(255,255,255,0.5);
}






/* MORE MORE */
.main-info{
  width: 550px;
  margin-bottom: 12px;
}

.vinted-bloc{
  padding: 20px 35px;
  margin: 50px 0px 60px 30px;
  border-left: 3px solid #333;
}

.vinted-line {
  margin-bottom: 30px;
}

.vinted-line:last-child {
  margin-bottom: 0;
}

.vinted-line p{
  margin-bottom: 8px;
}

ul{
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}

.vinted-line ul {
  padding-left: 20px;
}





/* toggle */

.toggle-panel {
  background-color: #f3f3f3;
  position: relative;
  width: 100%;
  height: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin: 60px 0;
  overflow: hidden;
}


/* Toggle button */
.toggle-header {
  position: absolute;
  top: 20px;
  right: 20px;
}

.toggle-btn {
  border: 2px solid #005A4F;
  border-radius: 25px;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  cursor: pointer;
  font-family: 'Manrope', sans-serif;
  font-size: 12px;
  font-weight: 600;
  transition: background 0.5s, border 0.5s, flex-direction 0.3s;
  overflow: hidden;
  background-color: inherit;
}

.toggle-label {
  color: #005A4F;
  transition: color 0.5s, transform 0.5s;
}

.toggle-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #005A4F;
  transition: all 0.3s ease;
}

/* Mode acheteur */
.toggle-btn.buyer {
  border-color: #027782;
  flex-direction: row-reverse;
}

.toggle-btn.buyer .toggle-label {
  color: #027782;
  text-align: right;
}

.toggle-btn.buyer .toggle-circle {
  background-color: #027782;
}


/* Image centré */
.toggle-image-container {
  display: flex;
  justify-content: center;
  padding: 140px 0;
  width: 100%;
  height: 100%;
}

.toggle-photo {
  min-width: 100%;
  object-fit: contain;
  transition: opacity 0.5s ease;
}

.pics {
  position: relative;
  width: 100%;
  height: 100vh;
}

.pic-title{
  font-family: 'GrifterBold', Arial, sans-serif;
  font-size: 16px;
  position: absolute;
}

.waterfall1 {
  background-image: url("./img/the-waterfall1.webp");
}

.waterfall2 {
  background-image: url("./img/the-waterfall2.webp");
}

.waterfall3 {
  background-image: url("./img/the-waterfall3.webp");
}

.waterfall4 {
  background-image: url("./img/the-waterfall4.webp");
}

.como1 {
  background-image: url("./img/como1.webp");
}

.como2 {
  background-image: url("./img/como2.webp");
}

.como3 {
  background-image: url("./img/como3.webp");
}

.como4 {
  background-image: url("./img/como4.webp");
}

.como5 {
  background-image: url("./img/como5.webp");
}

.como6 {
  background-image: url("./img/como6.webp");
}

.como7 {
  background-image: url("./img/como7.webp");
}

.como8 {
  background-image: url("./img/como8.webp");
}

.photo-card {
  position: absolute;
  background-size: cover;
  background-position: center;
  cursor: grab;
}

.portrait{
  width: 200px;
  height: 133px;
}

.paysage{
  width: 150px;
  height: 225px;
}




@media screen and (max-width: 1024px) {
  body {
    background: #f5f5f5;
  }

  body > *:not(.mobile-block) {
    display: none !important;
  }

  body::before {
    content: "Le portfolio est malheureusement indisponible sur mobile et tablette";
    white-space: pre-line;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    height: 100vh;
    width: 80vw;
    text-align: center;
    font-family: "Grifterbold", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #111;
  }
}

